@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3);

}

*{
    font-family: 'Roboto',sans-serif;
    margin: 0;padding: 0;
    box-sizing: border-box;
    outline:#13131a ; 
    text-decoration:solid;
    text-transform:var(--border) ;
    transition: .2s linear;
    
}




html{
    font-size: 62.5%;
    overflow: auto;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background:#fff;
    border-radius: 5rem;
}

.chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #d3ad7f;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.chat-container {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 350px; /* Lățimea mărită */
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.chat-header {
    background: #d3ad7f;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.chat-messages {
    height: 350px; /* Zona albă este acum mai mare */
    overflow-y: auto;
    padding: 10px;
    font-size: 16px;
}

input {
    width: 100%;
    padding: 12px;
    border: none;
    border-top: 1px solid #ddd;
    font-size: 16px;
}




body{
    background: var(--bg);
}

section{
    padding: 2rem 7%;
}

.heading{
   text-align: center;
   color: #fff;
   text-transform: uppercase;
   padding-bottom: 3.5rem;
   font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: x-large;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}

.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;left: 0;right: 0;
    z-index: 1000;
}



.car{
    width: 70px;
    height: 170px;
    display: flex;
    margin-top: 1px;
    image-resolution: 100%;
    align-items: center;
    font-size: large;
    object-fit: contain;
}

.header .logo img{
    height: 6rem;
}

.header .navbar a{
    margin:0 2rem;
    font-size: 1.9rem;
    color: #fff;
}

.header .navbar a:hover{
    opacity: 50%;
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-top: 5rem;
}

.header .icons div{
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color:var(--main-color);
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top:115%; right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active{  
    transform: scaleY(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}

.header .search-form label:hover{
    color: var(--main-color);
}

.header .cart-items-container{
    position: absolute;
    top: 100%; right: -100%;
    height: calc(100vh - 9rem);
    width: 30rem;
    background: #fff;
    padding:0 1rem;
}

.header .cart-items-container.active{
    right: 0;
}
.header .cart-items-container.active h2{
    font-size: 30px;
}

.header .cart-items-container .cart-item{
    font-size:15px;
    position: relative;
    margin:2rem 0;
    display: flex;
    align-items: center;
    gap:2rem;
}



.header .cart-items-container .cart-item .fa-times{
    width: 20px;
    position: absolute;
    top: 1rem; right: 1rem;
    font-size: 100rem;
    cursor:pointer;
    color:var(--black);
}

.header .cart-items-container .cart-item .fa-times:hover{
    color: var(--main-color);
}

.header .cart-items-container .cart-item .content img{
    height: 7rem;
}

.header .cart-items-container .cart-item .content h3{
    font-size: 2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .content .price{
    font-size: 1.5rem;
    color: var(--main-color);
}

.header .cart-items-container .btn{
    width: 100%;
    text-align: center;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExN3kydDViaWUwb2V1cTIxdzFpaDExa29ucmx1dTJzNmpvOGc1ZGk3diZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/xUOxfjsW9fWPqEWouI/giphy.gif) no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 90px;
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color: #000000;
}

.home .content p{
    font-size: 2rem;
    font-weight:300;
    line-height: 1.8;
    padding: 1rem 0;
    color: #000000;
}
.row{
    justify-content: center;
    margin-bottom: 130px;
    margin-top: 90px;
}

.about .row{
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
    width: 100%;
}

.about .row .content{
    flex:1 1 45rem;
    padding:2rem;
}

.about .row .content h3{
    font-size: 3rem;
    color: #fff;
}

.about .row .content p{
    font-size: 1.6rem;
    color:#ccc;
    padding:1rem 0;
    line-height: 1.8;
}


.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap:1.5rem;
}

.menu .box-container .box{
    padding: 5rem;
    text-align: center;
    border: var(--border);
}
.menu .box-container .box:hover .btn {
    background-color: url(../images/background12.jpg); /* Culoare neagră la hover */
    color: #fff; /* Text alb la hover */
}

/* Prețul vechi */
.menu .box-container .box:hover .price span {
    color: black; /* Culoare neagră la hover */
}

/* Dacă vrei să schimbi culoarea la hover și pentru prețul principal */
.menu .box-container .box:hover .price {
    color: black; /* Culoare albă pentru prețul actual */
}

.menu .box-container .box img{
    height: 10rem;
}

.menu .box-container .box h3{
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.menu .box-container .box .price{
    color: #fff;
    font-size: 2.5rem;
    padding: 5rem 0;
}

.menu .box-container .box .price span{
    color: #fff;
    font-size: 1.5rem;
   text-decoration: line-through;
   font-weight: lighter;
}

.menu .box-container .box:hover{
    background: #ccc;
}

.menu .box-container .box:hover > * {
    color:var(--black);
}

.products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;
}

.products .box-container .box{
    text-align: center;
    border: var(--border);
    padding: 2rem;
}

.products .box-container .box .icons a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border: var(--border);
    color: #fff;
    margin:.3rem;
}
.products .box-container .box .icons a:hover{
    background: var(--main-color);
}

.products .box-container .box .image{
    padding: 2.5rem 0;
}

.products .box-container .box .image img{
    padding: 0rem;    
    
}
.bob{
    width: 70%;
    margin-top: 4rem;
    border-radius: 10rem;
}


.products .box-container .box .content h3{
    color: #fff;
    font-size: 2.5rem;
}

.products .box-container .box .content .stars{
    padding: 1.5rem;
}

.products .box-container .box .content .stars i{
    font-size: 1.7rem;
    color: var(--main-color);
}

.products .box-container .box .content .price{
    color: #fff;
    font-size: 2.5rem;
}

.products .box-container .box .content .price span{
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
}

.menu .box-container .box img,
.products .box-container .box .image img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}


.box-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    padding: 2rem;
}

.box {
    background: #222;
    padding: 2rem;
    text-align: center;
    border: 2px solid #444;
    transition: background 0.3s, color 0.3s;
    border-radius: 10px;
}

.box img {
    height: 12rem; /* Imagini mai mari */
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.box img:hover {
    transform: scale(1.05); /* Efect subtil de mărire */
}

.box h3 {
    color: #fff;
    font-size: 1.8rem;
    margin: 1rem 0;
}

.box .price {
    color: #fff;
    font-size: 1.6rem;
}

.box .price span {
    color: #bbb;
    font-size: 1.2rem;
    text-decoration: line-through;
}

.box:hover {
    background: #fff;
    color: #222;
}

.box:hover h3,
.box:hover .price,
.box:hover .price span {
    color: #222;
}

.box:hover .btn {
    background: #222; /* Culoare neagră când hover pe întreaga box */
    color: #fff; /* Text alb */
    transform: scale(1.1); /* Mărire la hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .3rem 1.5rem;
    background: #fff; /* Culoare albă */
    color: #222; /* Text negru */
    text-decoration:transparent;
    font-size: 25px;
    border-radius: 10px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}

.caca{
    display: inline-block;
    margin-top: 1rem;
    padding: .3rem 1.5rem;
    background: #fff; /* Culoare albă */
    color: #222; /* Text negru */
    text-decoration:transparent;
    font-size: 25px;
    border-radius: 10px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 550px; /* Setează o lățime fixă mai mică */
    text-align: center; /* Asigură că textul rămâne centrat */
   
}

.caca:hover{
    background: #222; /* Culoare neagră la hover */
    color: #fff; /* Text alb */
    transform: scale(1.1); /* Mărire la hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    background: #222; /* Culoare neagră la hover */
    color: #fff; /* Text alb */
    transform: scale(1.1); /* Mărire la hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


.review .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
   gap: 1.5rem;
}

.review .box-container .box{
    border: var(--border);
    text-align: center;
    padding:3rem 2rem;
}

.review .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: #fdfdfd;
    padding: 2rem 0;
    text-decoration-color: #faf7f7;
}

.review .box-container .box .user{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container .box h3{
    padding: 1rem 0;
    font-size: 2rem;

}

.review .box-container .box .stars i{
    font-size: 1.5rem;
    color: var(--main-color);
}



.box .quote{
    width: 30rem;
    height: 30rem;
}

.review .box-container .box:hover {
    background: #ffffff; /* Schimbă fundalul */
    color: #000000; /* Schimbă culoarea textului */
}

.review .box-container .box:hover p {
    color: #0c0a0a; /* Schimbă culoarea textului */
    text-decoration-color: #000000; 
}

.review .box-container .box:hover h3 {
    color: #000000; /* Inversează culoarea titlului */
}

.review .box-container .box:hover .stars i {
    color: #cfe410; /* Schimbă culoarea stelelor */
}



.contact .row{
    display: flex;
    background: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
}

.contact .row .map{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--bg);
    border: var(--border);
}

.contact .row form .inputBox span{
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background: none;
}

.blogs .box-container{
    display: grid;
   grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
   gap: 1.5rem;
}

.blogs .box-container .box{
    border: var(--border);
}

.blogs .box-container .box .image{
    height: 25rem;
    overflow: hidden;
    width: 100%;
}

.blogs .box-container .box .image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.blogs .box-container .box:hover .image img{
 transform: scale(1.2);   
}
   
.blogs .box-container .box .content{
    padding: 2rem;
}

.blogs .box-container .box .content .title{
    font-size: 2.5rem;
    line-height: 1.5;
    color: #fff;
}

.blogs .box-container .box .content .title:hover{
    color: var(--main-color);
}

.blogs .box-container .box .content span{
    color: var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.blogs .box-container .box .content p{
    font-size: 1.6rem;
    line-height: 1.8;
    color: #ccc;
    padding: 1rem 0;
}



.footer{
    background: var(--black);
    text-align: center;
}

.footer .share{
    padding: -10rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    margin: .3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    background-color: var(--main-color);
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a{
    padding: 7rem 2 rem;
    color: #fff;
    border: var(--border);
    font-size: 2rem;
}

.footer .links a:hover{
    background-color: var(--main-color);
}

.footer .credit{
    font-size: 2rem;
    color:#fff;
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .credit span{
    color: var(--main-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.caiet {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px; /* Spațiu mai mare între casete */
    padding: 120px 20px 20px; /* Mai mult spațiu față de navbar */
    width: 90%;
    max-width: 1200px;
    margin-left: 150px;
}

.advice-box {
    background: #3b3b3b;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    width: 350px;
    height: 420px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.advice-box h2{
    width: 300px;
    height: 30px;
    text-decoration: wavy;
    font-size: 20px
}
.advice-box:hover {
    transform: scale(1.05);
}

.advice-box p {
    font-size: 18px; /* Mărește fontul pentru claritate */
    line-height: 1.6;
    padding: 10px;
}

img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background-color: #7aba78;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button :hover {
    background-color: #1e221e;
}










/*media queries */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding: 2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top: 100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem; 
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

}

.checkout-btn {
    display: block;
    width: 100%; /* Ocupă toată lățimea containerului */
    padding: 15px;
    text-align: center;
    background-color: #28a745; /* Culoare verde */
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    transition: all 0.3s ease;
    margin-top: 20px;
}

.checkout-btn:hover {
    background-color: #218838; /* Culoare verde mai închisă */
    transform: scale(1.05);
}












@media (max-width:450px){

    html{
        font-size: 50%;
    }

}